libs/
node_modules/
.DS_Store
.idea
.project
.svn
.bem/cache/
*.bundles/*/*.*
!*.bundles/*/*.bemjson.js
!*.bundles/*/*.js
*.bundles/*/*.bemdecl.js
*.bundles/*/*.bemhtml.js
*.bundles/*/*.deps.js
!*.bundles/*/*.css
!*.bundles/*/*.html
!*.bundles/.bem/*
