/*
 * Idea and images are taken from http://demo.marcofolio.net/jquery_dj/
 * */
.player .player__vinyl
{
    width: 370px;
    height: 370px;
    position: relative;
}

.player_theme_red .player__vinyl
{
    background-image:url("player_theme_red.png");
}

.player_theme_yellow .player__vinyl
{
    background-image:url("player_theme_yellow.png");
}

.player__needle
{
    position: absolute;
    right: 27px;
    width: 50px;
    height: 76px;
    background-image:url("player__needle.png");
}
