/*
 * Idea and images are taken from http://demo.marcofolio.net/jquery_dj/
 * */
.vinyl
{
    width: 370px;
    height: 370px;
    position: relative;
}

.vinyl_theme_red
{
    background-image:url("vinyl_theme_red.png");
}

.vinyl_theme_yellow
{
    background-image:url("vinyl_theme_yellow.png");
}

.vinyl__needle
{
    position: absolute;
    right: 27px;
    width: 50px;
    height: 76px;
    background-image:url("vinyl__needle.png");
}
